appdirs==1.4.3
args==0.1.0
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
clint==0.5.1
colorama==0.4.1
ConfigArgParse==0.14.0
dnspython==1.16.0
docutils==0.14
docutils-stubs==0.0.21
future==0.17.1
idna==2.8
importlib-metadata==0.18
markdown2==2.3.8
more-itertools==4.3.0
packaging==19.2
pkginfo==1.5.0.1
pluggy==0.12.0
py==1.5.4
Pygments==2.4.2
pyparsing==2.2.0
pytest==5.1.2
pyxdg==0.26
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
soupsieve==1.9.1
tqdm==4.32.2
twine==1.15.0
urllib3==1.25.4
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.5.2
