appdirs==1.4.3
args==0.1.0
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
clint==0.5.1
colorama==0.3.9
ConfigArgParse==0.13.0
docutils==0.14
idna==2.6
markdown2==2.3.5
more-itertools==4.2.0
packaging==17.1
pkginfo==1.4.2
pluggy==0.6.0
py==1.5.3
Pygments==2.2.0
-e git+git@github.com:Findus23/pyLanguagetool.git@4e540162d8191e38be9e2e7003c70d9ad869a22a#egg=pyLanguagetool
pyparsing==2.2.0
pytest==3.6.0
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.23.4
twine==1.11.0
urllib3==1.22
